{% extends 'base.html.twig' %}

{% block body_class 'login-body' %}

{% block content %}
<div class="container">
    <form class="form-signin" action="index.html">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Login</h1>
            <img src="images/logo.png" alt=""/>
        </div>
        
        <div class="login-wrap">
            <input type="text" class="form-control" name="email" placeholder="E-mail" autofocus>
            <input type="password" class="form-control" placeholder="Senha">

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <!-- <div class="registration">
                Not a member yet?
                <a class="" href="registration.html">
                    Signup
                </a>
            </div> -->
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Lembrar- me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Esqueceu a Senha?</a>

                </span>
            </label>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Esqueceu a Senha?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Digite seu endereço de e-mail para redefinir sua senha.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                        <button class="btn btn-primary" type="button">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>
</div>
{% endblock %}